/* Login Page Role Selection */
.circle {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}

.filled {
  background-color: #000;
}

/* App Logo */
.center-container {
  text-align: center; /* Center the content horizontally */
}

.middle-container {
  text-align: center;
  margin-top: 50px;
}

.left-container {
  text-align: left; /* Center the content horizontally */
  margin-left: 200px;
}

.lSection {
  position: absolute;
  top: 300px;
  right: 600px;
  margin: 20px; /* Optional: Add margin for spacing */
}

.cSection {
  position: absolute;
  top: 300px;
  right: 400px;
  margin: 20px; /* Optional: Add margin for spacing */
}

.rSection {
  position: absolute;
  top: 300px;
  right: 200px;
  margin: 20px; /* Optional: Add margin for spacing */
}

.right-container {
  position: absolute;
  top: 200px;
  right: 350px;
  margin: 20px; /* Optional: Add margin for spacing */
}


.center-image {
  margin: auto; /* Center the image horizontally */
  display: block; /* Ensure the image is treated as a block element */
}

/* Log in link*/
.upper-right-text {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px; /* Optional: Add margin for spacing */
}

/* switch view */
.lower-right-text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px; /* Optional: Add margin for spacing */
}

.error-message {
  color: red;
  margin-top: 5px;
}
